@model IEnumerable<竞赛老师系统.SCS_SignUp>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="col-md-12 col-sm-12 col-xs-12">
    <br />
    <div class="panel panel-default" style="margin-top: 0;margin-right:30px;margin-left:20px">
        <h1 class="panel-heading" style="background-color:aliceblue">审查报名</h1>
    </div>

</div>


<div>

    <div class="form-group" style="float:right;margin-right:50px">
        <div class="col-md-8" style="margin-top:10px">
            <input type="text" class="form-control" placeholder="报名人员名称" id="search_name">
        </div>
        <div class="col-md-2">
            <input type="button" name="submit" id="search" class="btn btn-info" value="搜索">
        </div>
    </div>
    <div id="toolbar" class="btn-group">
        <a href="~/Examination/Index/adopt" class="create">
            <input type="button" name="submit" id="Have_passed" class="btn btn-info" value="查看已通过的">
        </a>
        <input type="button" name="submit" id="Have_P" class="btn btn-info" value="查看">
    </div>

    <div class="panel panel-default" id="my_tb" style="margin-right:30px;margin-left:20px">
        <table id="tb_departments" style=" font-size:large"></table>
    </div>
</div>

<div class="modal fade" id="queryInfo" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                <h2 class="modal-title" id="myModalTitle">详细信息</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6">
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">学生姓名</span>
                        <input type="text" class="form-control" id="Name" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">班级</span>
                        <input type="text" class="form-control" id="班级" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">学号</span>
                        <input type="text" class="form-control" id="学号" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">学年成绩</span>
                        <input type="text" class="form-control" id="学年成绩" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">电话</span>
                        <input type="text" class="form-control" id="电话" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">比赛项目</span>
                        <input type="text" class="form-control" id="比赛项目" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">类别</span>
                        <input type="text" class="form-control" id="类别" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">邮箱</span>
                        <input type="text" class="form-control" id="邮箱" readonly="readonly">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon" style="width:100px;">团队人员姓名</span>
                        <input type="text" class="form-control" id="团队人员姓名" readonly="readonly">
                    </div>
                    <br />
                </div>

                <div class="modal-footer" style="margin-top:300px;">
                    <button type="button" class="btn btn-default" id="myclose" data-dismiss="modal"> 关闭</button>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件


    });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({

                url: '/Examinations/SCS_SignUp/Table',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                sortStable: true,
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10],                     //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 1,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                height: 500,
                paginationPreText: '上一页',
                paginationNextText: '下一页',
                columns: [
                    {
                        field: '姓名',
                        title: '姓名'
                    }, {
                        field: '班级',
                        title: '班级'
                    }, {
                        field: '比赛项目',
                        title: '比赛项目',
                    }, {
                        field: '电话',
                        title: '电话'
                    }, {
                        field: '学年成绩',
                        title: '成绩',
                    }
                    , {
                        field: 'id',
                        title: '  ',
                        formatter: operation
                    }]
            });
        };
        operation = function (value, row, index) {
            return ' <input type="button" id="detail" class="btn btn-warning" onclick="query(' + value + ')" value="详细信息">'+
            '<a href="/Examinations/SCS_SignUp/Edit/' + row.id + '" class="edited"><input type="button" name="submit" id="edit" class="btn btn-warning" value="通过" style="margin-top:0"></a>' +
                '<a href="/StationAdmin/TB_Tollgate/Delete/' + row.id + '"class="del"><input type="button" name="submit" id="delete" class="btn btn-danger" value="退回"style="margin-top:0"></a>';
        }

        $("#search").click(function () {
            $('#tb_departments').bootstrapTable('refresh', {
                id: $("#search_name").val()
            });
        })

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
                id: $("#search_name").val()
            };
            return temp;
        };
        return oTableInit;

        query = function (id) {
            //alert(id)
            $.ajax({
                url: "/UserInfoManager/View_UserInfo/GetUserMessage",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({
                    "id": id,
                }),
                success: function (data) {
                    $("#学生").val(data.学生)
                    $("#班级").val(data.班级)
                    $("#学号").val(data.学号)
                    $("#学年成绩").val(data.学年成绩)
                    $("#电话").val(data.电话)
                    $("#比赛项目").val(data.比赛项目)
                    $("#类别").val(data.类别)
                    $("#邮箱").val(data.邮箱)
                    $("#团队人员姓名").val(data.团队人员姓名)

                    $("#queryInfo").modal('show')
                },
            });
        }

    };
</script>


